<div id="main-footer">
  <div class="container">
    <div class="row .bg-secondary">
      <div id="footer-1" class="span5">
        <h3>WHAT IS THEMECLUE?</h3>
        <p>
          Themeclue is the easiest way to find the theme you need. It showcases only the best themes for Wordpress,
          Joomla, Drupal, Magento and many other content management systems. Just answer four simple questions or use
          the advanced filtering system for a perfect search.
        </p>
      </div>
      <div id="footer-2" class="span4">
        <h3>FOLLOW US</h3>
        <p> Follow us on our social networks or subscribe RSS to receive updates. You will be notified every time a new
          theme is posted!
        </p>
      </div>
      <div id="footer-3" class="span3">
        <h3>NEWSLETTER</h3>
        <p>
          Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test
          3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3Test 3
        </p>
      </div>
    </div>

  </div>
</div>
