/* Footer */
#main-footer {
  margin-top: 20px;
  background: #E6E6E6;
  color: #64686D;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

#main-footer h3 {
  letter-spacing: .05em;
  font-weight: 700;
  font-size: 12px;
}

.span5 {
  width: 470px;
}
.span4 {
  width: 370px;
}

.span3 {
  width: 270px;
}

[class*="span"] {
  float: left;
  margin-left: 30px;
  min-height: 1px;
}

h3 {
  margin: 0 0 15px;
  color: inherit;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.4;
  text-rendering: auto;
}
.row {
  margin-left: -30px;
}
